PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
INSERT INTO django_migrations VALUES(1,'core','0001_initial','2025-07-24 16:08:51.955864');
INSERT INTO django_migrations VALUES(2,'academics','0001_initial','2025-07-24 16:08:51.984554');
INSERT INTO django_migrations VALUES(3,'contenttypes','0001_initial','2025-07-24 16:08:51.998951');
CREATE TABLE IF NOT EXISTS "core_school" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(255) NOT NULL, "address" text NOT NULL, "contact_email" varchar(254) NOT NULL);
INSERT INTO core_school VALUES(1,'Ujwal Model School','Sirsa','model.school@gmail.com');
CREATE TABLE IF NOT EXISTS "core_subject" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(100) NOT NULL, "code" varchar(20) NOT NULL, "school_id" bigint NOT NULL REFERENCES "core_school" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO core_subject VALUES(1,'6th Hindi Vyakran','6hindi1',1);
INSERT INTO core_subject VALUES(2,'Project 5','6hindi1',1);
CREATE TABLE IF NOT EXISTS "academics_classroom" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(20) NOT NULL, "batch_id" bigint NOT NULL REFERENCES "core_batch" ("id") DEFERRABLE INITIALLY DEFERRED, "school_id" bigint NOT NULL REFERENCES "core_school" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);
INSERT INTO django_admin_log VALUES(1,'1','Ujwal Model School',1,'[{"added": {}}]',7,1,'2025-07-24 16:10:24.300297');
INSERT INTO django_admin_log VALUES(2,'1','6th Hindi Vyakran (6hindi1)',1,'[{"added": {}}]',8,1,'2025-07-24 16:10:45.530143');
INSERT INTO django_admin_log VALUES(3,'1','batch_1',1,'[{"added": {}}]',9,1,'2025-07-24 16:11:02.220777');
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
INSERT INTO django_content_type VALUES(1,'admin','logentry');
INSERT INTO django_content_type VALUES(2,'auth','permission');
INSERT INTO django_content_type VALUES(3,'auth','group');
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
INSERT INTO auth_permission VALUES(1,1,'add_logentry','Can add log entry');
INSERT INTO auth_permission VALUES(2,1,'change_logentry','Can change log entry');
INSERT INTO auth_permission VALUES(3,1,'delete_logentry','Can delete log entry');
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "auth_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "first_name" varchar(150) NOT NULL);
INSERT INTO auth_user VALUES(1,'pbkdf2_sha256$600000$JUxER6ZkoTTCSoqLsNhHJ9$t2YF1tuZ1Mqmt8YLeOp6+O/W9ryByD/RJALBz01YwVM=','2025-07-24 16:09:59.584001',1,'rahul','','rahul@rahul.rahul',1,1,'2025-07-24 16:09:51.662731','');
CREATE TABLE IF NOT EXISTS "people_teacher" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "teacher_id" varchar(20) NOT NULL UNIQUE, "name" varchar(100) NOT NULL);
INSERT INTO people_teacher VALUES(1,'t_0001','Promila');
CREATE TABLE IF NOT EXISTS "people_student" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "student_id" varchar(20) NOT NULL UNIQUE, "roll_number" integer NOT NULL, "name" varchar(100) NOT NULL, "batch_id" bigint NOT NULL REFERENCES "core_batch" ("id") DEFERRABLE INITIALLY DEFERRED, "school_id" bigint NOT NULL REFERENCES "core_school" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO people_student VALUES(1,'s_0001',1,'a',1,1);
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
INSERT INTO django_session VALUES('7d4hla6ls7m2iis0t4kllyrx5kns4z25','.eJxVjMEOwiAQRP-FsyGyUFY8evcbyLKLUjWQlPZk_HfbpAe9Tea9mbeKtMwlLj1PcRR1VkYdfrtE_Mx1A_Kgem-aW52nMelN0Tvt-tokvy67-3dQqJd1TUhoISESoM0eBghIHoXZQApEHKw9eriZE4rhIAg8IDiw7NaMTn2-z_c3Eg:1ueyW7:9D-9PfrFxOxyaEscKn3S-sPToQWXRF4bo5G-9zU9ASM','2025-08-07 16:09:59.589946');
CREATE TABLE IF NOT EXISTS "notebooks_submissionrecord" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "submission_id" varchar(50) NOT NULL, "add_date" date NOT NULL, "associated_subject_id" bigint NOT NULL REFERENCES "core_subject" ("id") DEFERRABLE INITIALLY DEFERRED, "associated_teacher_id" bigint NOT NULL REFERENCES "people_teacher" ("id") DEFERRABLE INITIALLY DEFERRED, "associated_batch_id" bigint NOT NULL REFERENCES "core_batch" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO notebooks_submissionrecord VALUES(1,'sub_1','2025-07-24',1,1,1);
INSERT INTO notebooks_submissionrecord VALUES(13,'sub_2','2025-07-27',1,1,1);
CREATE TABLE IF NOT EXISTS "core_batch" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "batch_id" varchar(20) NOT NULL, "start_date" date NOT NULL, "status" varchar(10) NOT NULL, "associate_school_id" bigint NULL REFERENCES "core_school" ("id") DEFERRABLE INITIALLY DEFERRED, "current_class" integer NOT NULL);
INSERT INTO core_batch VALUES(1,'batch_1','2025-07-24','Active',1,6);
CREATE TABLE IF NOT EXISTS "notebooks_notebooksubmission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "checked_date" date NULL, "incomplete_date" date NULL, "student_id" bigint NOT NULL REFERENCES "people_student" ("id") DEFERRABLE INITIALLY DEFERRED, "submission_id_id" bigint NOT NULL REFERENCES "notebooks_submissionrecord" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO notebooks_notebooksubmission VALUES(1,NULL,NULL,1,1);
INSERT INTO notebooks_notebooksubmission VALUES(11,NULL,'2025-07-27',1,13);
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('django_migrations',29);
INSERT INTO sqlite_sequence VALUES('django_admin_log',23);
INSERT INTO sqlite_sequence VALUES('django_content_type',15);
CREATE INDEX "core_subject_school_id_956b9bc5" ON "core_subject" ("school_id");
CREATE INDEX "academics_classroom_batch_id_b6e8f369" ON "academics_classroom" ("batch_id");
CREATE INDEX "academics_classroom_school_id_70797bc7" ON "academics_classroom" ("school_id");
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_user_groups_user_id_group_id_94350c0c_uniq" ON "auth_user_groups" ("user_id", "group_id");
CREATE INDEX "auth_user_groups_user_id_6a12ed8b" ON "auth_user_groups" ("user_id");
CREATE INDEX "auth_user_groups_group_id_97559544" ON "auth_user_groups" ("group_id");
CREATE UNIQUE INDEX "auth_user_user_permissions_user_id_permission_id_14a6b632_uniq" ON "auth_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "auth_user_user_permissions_user_id_a95ead1b" ON "auth_user_user_permissions" ("user_id");
CREATE INDEX "auth_user_user_permissions_permission_id_1fbb5f2c" ON "auth_user_user_permissions" ("permission_id");
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE INDEX "people_student_batch_id_25319b86" ON "people_student" ("batch_id");
CREATE INDEX "people_student_school_id_f64642a0" ON "people_student" ("school_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE INDEX "notebooks_submissionrecord_associated_subject_id_845b1faa" ON "notebooks_submissionrecord" ("associated_subject_id");
CREATE INDEX "notebooks_submissionrecord_associated_teacher_id_af323763" ON "notebooks_submissionrecord" ("associated_teacher_id");
CREATE INDEX "notebooks_submissionrecord_associated_batch_id_827d872f" ON "notebooks_submissionrecord" ("associated_batch_id");
CREATE INDEX "core_batch_associate_school_id_d9e988c7" ON "core_batch" ("associate_school_id");
CREATE INDEX "notebooks_notebooksubmission_student_id_7842f2b4" ON "notebooks_notebooksubmission" ("student_id");
CREATE INDEX "notebooks_notebooksubmission_submission_id_id_9aef3e2f" ON "notebooks_notebooksubmission" ("submission_id_id");
COMMIT;
